.phonebook {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  padding: 20px 60px;
  border-radius: 20px;
  box-shadow: 7px 9px 8px 8px #6b6b6b9d;
  background-color: rgba(0, 0, 0, 0.045);
}
